body{
    display: flex;
    flex-direction: column;
    background-color: rgb(170, 243, 146);
    font-family: Arial, sans-serif;
    padding: 20px;
    text-align: center;
}
h1 {
    color: #333;
    text-align: center;
}
.container{
    margin: 0 auto;
    padding: 20px;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-content: center;
    border-radius: 15px;
    box-shadow: #333;
}
.democlass{
    padding: 10px;
    border: #333;
}